body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: auto;
}
#main_site {
  background-color: #716c6c; /* Dowolny kolor tła */
}
